<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
  </config>

  <activePackageSource>
    <!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <clear/>
    <add key="XanaCN" value="https://pkgs.dev.azure.com/XanaCN/_packaging/XanaCN/nuget/v3/index.json" />
  </packageSources>

  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>